<%= render "elements/signinheader" %>
<div class="container theme-showcase  main-body" role="main">
<div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12">
        <h1>記事編集</h1>
        <%= form_for :article, url: blog_article_path(@article), method: :patch  do |f| %>   
            <% if @article.errors.any? %>
                <% @article.errors.full_messages.each do |msg| %>
                    <div class="alert alert-danger"><%= msg %></div>
                <% end %>
            <% end %>
            <div class="form-group">
                <%= f.label :タイトル %><br>
                <%= f.text_field(:title, {:class => "form-control"}) %>
            </div>
            <div class="form-group">
                <%= f.label :内容 %><br>
                <%= f.text_area(:body, {:class => "form-control"}) %>
            </div>
            <div class="form-group">
                <label>STATUS: </label><%= @article.status == 1? "PUBLIC" : "PRIVATE" %><br>
            </div
            <div class="actions">
                <%= f.submit "Save As Public", name: "commit" , :class => 'btn btn-primary'  %>
                <%= f.submit "Save As Private", name: "commit" , :class => 'btn btn-primary'  %>
            </div>
        <% end %>
    </div>
</div>  

<script>
    $(function() {
        $('#article_body').froalaEditor({
            height: 300,
            imageResizeWithPercent: true,
            imageDefaultWidth: 100
        });
    });
</script>

