<%= render "elements/signinheader" %>
<div class="container theme-showcase  main-body" role="main">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-xs-9">
            <h1>記事一覧</h1>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-3">
            <%= link_to '新しい記事登録' , new_blog_article_path(@blog.url) , :class => "btn btn-primary pull-right" %>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12">
            <table class="table table-striped">
                <tr>
                    <th>タイトル</th>
                    <th>ステータス</th>
                    <th>Action</th>
                </tr>                
                <% @articles.each do |article| %>
                    <tr>
                        <td><%= article.title %></td>
                        <td><%= article.status == 1? "PUBLIC" : "PRIVATE" %></td>
                        <td>
                            <%= link_to content_tag(:i, '', class: 'fa fa-eye'), blog_article_path(@blog.url, article.id) %>
                            <%= link_to content_tag(:i, '', class: 'fa fa-edit'), edit_blog_article_path(@blog.id, article.id) %>
                            <%= link_to content_tag(:i, '', class: 'fa fa-trash'), blog_article_path(@blog.url, article.id), method: :delete, data: {confirm: 'Are You Sure'}  %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>  
<div>

