<% if user_signed_in? %>
    <%= render "elements/signinheader" %>
<% else %>
    <%= render "elements/loginheader" %>
<% end %>
<div class="container theme-showcase  main-body" role="main">
    <div class="row">
        <div class="col-lg-2 col-md-1 mx-auto">
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="article-title">
                <%= @article.title %>

                    <div class="like_form">
                        <a  onclick="return false;" class="btn btn-like" rel="nofollow"  href="#">いいね</a>
                        <span class="count_like"><%= @count %></span>     
                    </div>
            </div>
            <div class="article-body">
                <%= @article.body.html_safe %>
            </div>
            <div class="article_author">
                <div>
                    作者 <span><%= @blog.username %></span> 
                    公開日 <%= @article.created_at.strftime('%Y-%m-%d')  %>
                </div>
                <div class="pull-right">
                </div>
            </div>
            <div class="comment_head">
                コメント :
            </div>
            <div class="article_comment">
                <% @comments.each do |comment| %>
                    <div class="row">
                        <div class="comment col-md-12">
                            <div class="comment_avatar pull-left">
                            <% if comment.avatar? && comment.avatar != '' %>  
                                <%= image_tag(comment.user.avatar.url , :class => "img-responsive") %>
                            <% else %>    
                                <%= image_tag('blank_profile.png' , :class => "img-responsive") %>
                            <% end %>                            
                            </div>
                            <div class="comment_wrapper  ">
                                <div class="comment_body">
                                    <%= comment.body %>
                                </div>
                            </div>
                            <div class="comment_user">
                                Comment By: <%= comment.username %>
                            </div>    
                        </div>
                    </div>
                <% end %>
            </div>
                    <div class="input-group">
                        <input class="form-control" type="text" name="comment[body]" id="comment_body" />
                        <div class="input-group-btn">
                            <input type="submit"  onclick="return false;"  name="commit" value="コメント" class="btn btn-primary" data-disable-with="コメント" />
                        </div>
                    </div>
                    
            
        </div>
        <div class="col-lg-2 col-md-1 mx-auto">
        </div>
    </div>

</div>  

