    <%= render "elements/signinheader" %>
    <div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12">
            <%= image_tag("logo.png", :class => "img-responsive") %>
        </div>
        <div class="col-sm-8 col-md-8 col-xs-12">
            <%= form_for :blog, url: blog_index_path do |f| %>   
                <% if @success != nil %>                
                    <% if @success == true %>
                        <div class="alert alert-success">Update Sucess</div>            
                    <% end %>
                <% end %>
                <% @blog.errors.full_messages.each do |msg| %>
                    <div class="alert alert-danger"><%= msg %></div>
                <% end %>                
                <p>
                    <%= f.label :title %><br>
                    <%= f.text_field(:title, {:class => "form-control"}) %>
                </p>
                <p>
                    <%= f.label :description %><br>
                    <%= f.text_area(:description, {:class => "form-control"}) %>
                </p>
                <p>
                    <%= f.label :url %><br>
                    <%= f.text_field(:url, {:class => "form-control"}) %>
                </p>
                <p>
                    <%= f.label :username %><br>
                    <%= f.text_field(:username, {:class => "form-control"}) %>
                </p>
                <p>
                    <%= f.submit "Submit" , :class => 'btn btn-primary'  %>
                </p>
            <% end %>
        </div>
    </div>
    <% if @blog.username? %>
        <hr/>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <h1>list articles</h1>
                <table class="table table-striped">
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>                
                    <% @articles.each do |article| %>
                        <tr>
                            <td><%= article.title %></td>
                            <td><%= article.status == 1? "PUBLIC" : "PRIVATE" %></td>
                            <td>
                                <%= link_to content_tag(:i, '', class: 'fa fa-eye'), blog_article_path(@blog.username, article.id) %>
                                <%= link_to content_tag(:i, '', class: 'fa fa-edit'), edit_blog_article_path(@blog.id, article.id) %>
                            </td>
                        </tr>
                    <% end %>
                </table>
                <%= link_to "LIST MORE ARTICLE" , blog_articles_path(@blog.username), {:class => "btn btn-primary"} %>
            </div>
        </div>
    <% end %>     
</div>  