    <%= render "elements/signinheader" %>
    <div class="container theme-showcase main-body" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12">
        <% if @successImage != nil %>  
            <% if @successImage == true %>
                <div class="alert alert-success">AVATAR UPLLOAD SUCCESS</div>
            <% else %>  
                <div class="alert alert-danger"><%= @successImage %></div>
            <% end %>    
        <% end %>  
        <%= form_for :user, url: save_avatar_path do |f| %>
            <div class="input-group">
                <% if @userImage.avatar? && @userImage.avatar != '' %>  
                    <%= image_tag(@userImage.avatar_url , :class => "img-responsive") %>
                <% else %>    
                    <%= image_tag('blank_profile.png' , :class => "img-responsive") %>
                <% end %>    
            </div>
            <div class="display_hide">
                <%= f.file_field :avatar, multiple: false %>
            </div>
            <div class="input-group pt-15">
              <input type="text" id="AvatarCover" class="form-control" placeholder="select file...">
              <span class="input-group-btn"><button type="button" class="btn btn-info" onclick="$('input[id=user_avatar]').click();">Browse</button></span>
            </div>            
            <div class="input-group pt-15">
                <%= f.submit "登録" , :class => 'btn btn-primary'  %>
            </div>
        <% end %>
        </div>
        <div class="col-sm-8 col-md-8 col-xs-12 for_blog">
            <%= form_for :blog, :html => { :multipart => true }, url: blog_index_path do |f| %>   
                <% if @success != nil %>                
                    <% if @success == true %>
                        <div class="alert alert-success">Update Sucess</div>            
                    <% end %>
                <% end %>
                <% @blog.errors.full_messages.each do |msg| %>
                    <% @blog.errors.full_messages.each do |msg| %>
                        <div class="alert alert-danger"><%= msg %></div>
                    <% end %>                
                <% end %>                
                <p>
                    <%= f.label :タイトル %><br>
                    <%= f.text_field(:title, {:class => "form-control"}) %>
                </p>
                <p>
                    <%= f.label :説明 %><br>
                    <%= f.text_area(:description, {:class => "form-control"}) %>
                </p>
                <p>
                    <%= f.label :url %><br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">https://example.com/public/</span>
                            <%= f.text_field(:url, {:class => "form-control"}) %>
                        </div>
                </p>
                <p>
                    <%= f.label :ユーザー名 %><br>
                    <%= f.text_field(:username, {:class => "form-control"}) %>
                </p>
                <p>
                    <%= f.submit "登録" , :class => 'btn btn-primary'  %>
                </p>
            <% end %>
        </div>
    </div>
    <% if @blog.url? %>
        <hr/>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <%= link_to '新しい記事登録' , new_blog_article_path(@blog.url) , :class => "btn btn-primary pull-right" %>
                <h1>記事一覧</h1>        
                <table class="table table-striped">
                    <tr>
                        <th>タイトル</th>
                        <th>ステータス</th>
                        <th>Action</th>
                    </tr>                
                    <% @articles.each do |article| %>
                        <tr>
                            <td><%= article.title %></td>
                            <td><%= article.status == 1? "PUBLIC" : "PRIVATE" %></td>
                            <td class="action-data">
                                <%= link_to content_tag(:i, '', class: 'fa fa-eye'), blog_article_path(@blog.url, article.id) %>
                                <%= link_to content_tag(:i, '', class: 'fa fa-edit'), edit_blog_article_path(@blog.id, article.id) %>
                                <%= link_to content_tag(:i, '', class: 'fa fa-trash'), blog_article_path(@blog.url, article.id), method: :delete, data: {confirm: 'Are You Sure'}  %>
                                <%= link_to content_tag(:i, '', class: 'fa fa-comments'), blog_article_comment_index_path(@blog.url, article.id)  %>
                            </td>
                        </tr>
                    <% end %>
                </table>
                <%= link_to "記事一覧を見る" , blog_articles_path(@blog.url), {:class => "btn btn-primary"} %>
            </div>
        </div>
    <% end %>     
</div>  

<script>
  $('input[id=user_avatar]').change(function() {
    $('#AvatarCover').val($(this).val());
  });
</script>