<% if user_signed_in? %>
    <%= render "elements/signinheader" %>
<% else %>
    <%= render "elements/loginheader" %>
<% end %>
<div class="container-fliud home_bg">
    <%= image_tag("home-bg.jpg", :class => "img-responsive") %>
    <div class="label-home">
        <h1><%= @blog.title %></h1>
        <h5><%= @blog.description %></h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-1 mx-auto">
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
            <% @articles.each do |article| %>
                <div class="blog_wrapper article_wrapper">
                    <%= link_to public_article_path(@blog.url, article.id) do%>
                        <h3 class="blog_title">
                            <%= article.title %>
                        </h3>
                        <div class="blog_des">
                            <%= article.body.html_safe  %>
                        </div>
                    <% end %>
                    <p class="blog_author">
                        Author By <span><%= @blog.username %></span> On <%= article.created_at.strftime('%Y-%m-%d')  %>
                    </p>                
                </div>
                <hr />
            <% end %>
            <div class="pagination-wrapper">
                <%= paginate @articles %>
            </div>
        </div>
        <div class="col-lg-2 col-md-1 mx-auto">
        </div>
    </div>
</div>
